USE [master]
GO
/****** Object:  Database [dbAlmoxarifado]    Script Date: 24/02/2024 11:44:26 ******/
CREATE DATABASE [dbAlmoxarifado]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbAlmoxarifado', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SENAI\MSSQL\DATA\dbAlmoxarifado.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbAlmoxarifado_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SENAI\MSSQL\DATA\dbAlmoxarifado_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbAlmoxarifado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbAlmoxarifado]
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 24/02/2024 11:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[estoque] [int] NULL,
	[photourl] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Produto] ON 

INSERT [dbo].[Produto] ([id], [nome], [estoque], [photourl]) VALUES (1, N'HP Turbo', 20, NULL)
INSERT [dbo].[Produto] ([id], [nome], [estoque], [photourl]) VALUES (2, N'MONITOR GOT', 40, NULL)
INSERT [dbo].[Produto] ([id], [nome], [estoque], [photourl]) VALUES (3, N'mouse', 100, NULL)
SET IDENTITY_INSERT [dbo].[Produto] OFF
GO
ALTER TABLE [dbo].[Produto] ADD  DEFAULT ((0)) FOR [estoque]
GO
USE [master]
GO
